<!doctype html>
<html lang="{{ html_language }}">
<head>
    
    <script>const Uss = JSON.parse(atob('{{ Uss.jsCollectionEncoded }}'));</script>
    
    <title>{{ page_title|default('User synthetics') }}</title>

    {% block head %}

        {% block head_meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name='description' content='{{ page_description }}'>
            <link rel="icon" href="{{ favicon }}" type="image/x-icon">
        {% endblock %}

        {% block head_resource %}
            {{ Uss.renderBlockElements('head_resource')|raw }} 
        {% endblock %}

        {% block head_javascript %}
            {{ Uss.renderBlockElements('head_javascript')|raw }} 
        {% endblock %}

    {% endblock %}

</head>
<body>

    {% block body %}
        
        {% block body_main %}
            {{ Uss.renderBlockElements('body_main')|raw }}
        {% endblock %}

        {% block body_javascript %}
            {{ Uss.renderBlockElements('body_javascript')|raw }}
        {% endblock %}
        
    {% endblock body %}

</body>
</html>