<!doctype html>
<html lang="{{ html_language }}">
<head>
    
    <script>const Uss = JSON.parse(atob('{{ Uss.jsCollectionEncoded }}'));</script>
    <title>{{ page_title|default('User synthetics') }}</title>

    {% block head %}

        {% block head_metas %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name='description' content='{{ page_description }}'>
            <link rel="icon" href="{{ favicon }}" type="image/x-icon">
        {% endblock %}

        {% block head_css %}
            {{ Uss.renderBlocks('head_css')|raw }} 
        {% endblock %}

        {% block head_js %}
            {{ Uss.renderBlocks('head_js')|raw }}
        {% endblock %}

    {% endblock %}

</head>
<body>

    {% block body %}
        
        {{ Uss.renderBlocks('body_intro')|raw }}

        {% block body_main %}{% endblock %}

        {% block body_js %}
            {{ Uss.renderBlocks('body_js')|raw }}
        {% endblock %}

        {{ Uss.renderBlocks('body_outro')|raw }}

    {% endblock body %}

</body>
</html>