{% extends '@Shares/frontend/base.html.twig' %}

{% block content_area %}

    <!-- Brand Section Starts Here -->
    <div class="padding-top padding-bottom">
        <div class="container">
            <div class="brand__slider">
                <div class="single-slide">
                    <div class="brand__item">
                        <img src="{{ front_uri ~ '/assets/images/brand/item1.png' }}" alt="brand">
                    </div>
                </div>
                <div class="single-slide">
                    <div class="brand__item">
                        <img src="{{ front_uri ~ '/assets/images/brand/item1.png' }}" alt="brand">
                    </div>
                </div>
                <div class="single-slide">
                    <div class="brand__item">
                        <img src="{{ front_uri ~ '/assets/images/brand/item1.png' }}" alt="brand">
                    </div>
                </div>
                <div class="single-slide">
                    <div class="brand__item">
                        <img src="{{ front_uri ~ '/assets/images/brand/item1.png' }}" alt="brand">
                    </div>
                </div>
                <div class="single-slide">
                    <div class="brand__item">
                        <img src="{{ front_uri ~ '/assets/images/brand/item1.png' }}" alt="brand">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Brand Section Ends Here -->


    <!-- Feature Two Section Starts Here -->
    <section class="feature-section padding-bottom">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-4">
                    <div class="section__header m-0">
                        <h2 class="section__header-title">Let`s Go for Investment & Get Your Profit</h2>
                        <span class="d-block"> Donec interdum metus et hendrerit aliqueolor diam sagittis ligula eget egestas libero tuelmin. Nunc nulla. Fusce risus nislviverra </span>
                        <a href="sign-up.html" class="cmn--btn mt-4">Register</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row gy-sm-5 gy-4 gx-xl-5 h-100 justify-content-between">
                        <div class="col-sm-6 col-lg-6 col-xl-6">
                            <div class="feature__item__two style--two">
                                <div class="feature__item__two-thumb">
                                    <i class="las la-coins"></i>
                                </div>
                                <div class="feature__item__two-content">
                                    <h3 class="title mb-2">Get More Profit</h3>
                                    <p>Fringilla mauris  ameone dales saagnaed sequat leo eibendm and get mor profit </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-xl-6">
                            <div class="feature__item__two style--two">
                                <div class="feature__item__two-thumb">
                                    <i class="las la-headset"></i>
                                </div>
                                <div class="feature__item__two-content">
                                    <h3 class="title mb-2">24/7 Support</h3>
                                    <p>Fringilla mauris  ameone dales saagnaed sequat leo eibendm and get mor profit </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-xl-6">
                            <div class="feature__item__two style--two">
                                <div class="feature__item__two-thumb">
                                    <i class="las la-shield-alt"></i>
                                </div>
                                <div class="feature__item__two-content">
                                    <h3 class="title mb-2">Strong Protection </h3>
                                    <p>Fringilla mauris  ameone dales saagnaed sequat leo eibendm and get mor profit </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-xl-6">
                            <div class="feature__item__two style--two">
                                <div class="feature__item__two-thumb">
                                    <i class="las la-user-check"></i>
                                </div>
                                <div class="feature__item__two-content">
                                    <h3 class="title mb-2">Relability</h3>
                                    <p>Fringilla mauris  ameone dales saagnaed sequat leo eibendm and get mor profit </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Two Section Ends Here -->


    <!-- Plan Section Starts Here -->
    <section class="plan-section padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section__header text-center">
                        <h2 class="section__header-title">Our Investment Plan</h2>
                        <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend </p>
                    </div>
                </div>
            </div>
            <div class="plan__slider">
                <div class="single-slide">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">5%</h2>
                            <p class="plan-parcent-info">After 6 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOREVER</p>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">69%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOR 8 HOURS</p>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">120%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 3 Months</p>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">200%</h2>
                            <p class="plan-parcent-info">After 6 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 6 Months</p>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">250%</h2>
                            <p class="plan-parcent-info">After 8 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOREVER</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Plan Section Ends Here -->


    <!-- Referral Section Starts Here -->
    <section class="referral-section padding-bottom section-bg-two">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 align-self-end d-none d-lg-block">
                    <div class="section__thumb rtl me-5">
                        <img src="{{ front_uri ~ '/assets/images/referral/thumb.png' }}" alt="referral">
                        <div class="shapes">
                            <img src="{{ front_uri ~ '/assets/images/referral/clock.png' }}" alt="referral" class="shape shape1">
                            <img src="{{ front_uri ~ '/assets/images/referral/man.png' }}" alt="referral" class="shape shape2">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section__header">
                        <h2 class="section__header-title">30% Referral Commission</h2>
                        <p>Aenean vulputate eleifend tellus. Aenea ligul porttitoeu consequat vitae eleifend acenim</p>
                    </div>
                    <a href="sign-up.html" class="cmn--btn">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Referral Section Ends Here -->


    <!-- Investor Section Starts Here -->
    <section class="investor-section padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section__header text-center">
                        <h2 class="section__header-title">Our Best Investor</h2>
                        <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center gy-5">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="investor__item">
                        <div class="investor__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/investor/investor1.png' }}" alt="investor">
                        </div>
                        <div class="investor__item-content">
                            <h3 class="name">Robart Williams</h3>
                            <p class="invest-amount">Invest 250 USD</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="investor__item">
                        <div class="investor__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/investor/investor2.png' }}" alt="investor">
                        </div>
                        <div class="investor__item-content">
                            <h3 class="name">Munna Ahmed</h3>
                            <p class="invest-amount">Invest 350 USD</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="investor__item">
                        <div class="investor__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/investor/investor3.png' }}" alt="investor">
                        </div>
                        <div class="investor__item-content">
                            <h3 class="name">Maliha Mahtab</h3>
                            <p class="invest-amount">Invest 450 USD</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="investor__item">
                        <div class="investor__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/investor/investor4.png' }}" alt="investor">
                        </div>
                        <div class="investor__item-content">
                            <h3 class="name">Taposhi Ahmed</h3>
                            <p class="invest-amount">Invest 550 USD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Investor Section Ends Here -->


    <!-- Faq Section Starts Here -->
    <section class="faq-section padding-bottom overflow-hidden">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6">
                    <div class="section__header mb-0">
                        <h2 class="section__header-title">What Your Want to Know About Us ?</h2>
                        <div class="faq__wrapper">
                            <div class="faq__item style--two">
                                <div class="faq__item-title">
                                    <h4 class="title">Why You should become an Investor?</h4>
                                </div>
                                <div class="faq__item-content">
                                    <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                                </div>
                            </div>
                            <div class="faq__item style--two">
                                <div class="faq__item-title">
                                    <h4 class="title">Why You Choose Us?</h4>
                                </div>
                                <div class="faq__item-content">
                                    <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                                </div>
                            </div>
                            <div class="faq__item style--two open active">
                                <div class="faq__item-title">
                                    <h4 class="title">What is Hyip  Investment?</h4>
                                </div>
                                <div class="faq__item-content">
                                    <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                                </div>
                            </div>
                            <div class="faq__item style--two">
                                <div class="faq__item-title">
                                    <h4 class="title">How to do we work?</h4>
                                </div>
                                <div class="faq__item-content">
                                    <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <div class="section__thumb ">
                        <img src="{{ front_uri ~ '/assets/images/faq/thumb.png' }}" alt="download">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq Section Ends Here -->


    <!-- Download Section Starts Here -->
    <section class="download-section padding-bottom section-bg-two overflow-hidden">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 d-none d-lg-block">
                    <div class="section__thumb profit__calculation__thumb rtl">
                        <img src="{{ front_uri ~ '/assets/images/download/thumb.png' }}" alt="download">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row justify-content-end">
                        <div class="col-xxl-8 col-xl-10">
                            <div class="section__header">
                                <h2 class="section__header-title">Download Our App</h2>
                                <p>Curabitur ullamcorper ultricies nisi Tupural Engle  Nam eget dui. Etiam rhoncus.</p>
                            </div>
                            <div class="button__wrapper">
                                <a href="sign-up.html" class="cmn--btn download-btn"><div class="icon"><i class="fab fa-google-play"></i></div> <div class="text"><p>DOWNLOAD</p><p class="for">For Android</p></div></a>
                                <a href="sign-up.html" class="cmn--btn download-btn"><div class="icon"><i class="fab fa-apple"></i></div> <div class="text"><p>DOWNLOAD</p><p class="for">For IOS</p></div></a>
                            </div>
                        </div>
                    </div>
                    <div class="counter__wrapper row gy-4 gy-sm-5 pt-4 pt-sm-5">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                            <div class="counter__item">
                                <div class="counter__item-header d-flex align-items-center">
                                    <div class="icon">
                                        <img src="{{ front_uri ~ '/assets/images/download/icon1.png' }}" alt="counter">
                                    </div>
                                    <h2 class="title"><span class="odometer" data-odometer-final="39">0</span>M</h2>
                                </div>
                                <p class="info">Active Members</p>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                            <div class="counter__item">
                                <div class="counter__item-header d-flex align-items-center">
                                    <div class="icon">
                                        <img src="{{ front_uri ~ '/assets/images/download/icon2.png' }}" alt="counter">
                                    </div>
                                    <h2 class="title"><span class="odometer" data-odometer-final="150">0</span>M</h2>
                                </div>
                                <p class="info">Our Total Deposit</p>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                            <div class="counter__item">
                                <div class="counter__item-header d-flex align-items-center">
                                    <div class="icon">
                                        <img src="{{ front_uri ~ '/assets/images/download/icon3.png' }}" alt="counter">
                                    </div>
                                    <h2 class="title"><span class="odometer" data-odometer-final="40">0</span>M</h2>
                                </div>
                                <p class="info">Our Total Withdraw</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Download Section Ends Here -->


    <!-- Blog Section STartrs Here -->
    <section class="blog-section padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10">
                    <div class="section__header max-p text-center">
                        <h2 class="section__header-title">See Our Latest Blog & Tips</h2>
                        <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center g-4">
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item1.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item2.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item3.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section Ends Here -->

{% endblock %}