{% extends '@Uss/base.html.twig' %}

{% set baseurl = Uss.abspathToUrl(constant('ROOT_DIR')) %}

{% block head_metas %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block head_css %}
    <!-- BootStrap Link -->
    <link rel="stylesheet" href="{{ front_uri ~ '/assets/css/bootstrap.min.css' }}">
    <link rel="stylesheet" href="{{ front_uri ~ '/assets/css/animate.css' }}">

    <!-- Icon Link -->
    <link rel="stylesheet" href="{{ front_uri ~ '/assets/css/all.min.css' }}">
    <link rel="stylesheet" href="{{ front_uri ~ '/assets/css/line-awesome.min.css' }}">

    <!-- Plugings Link -->
    <link rel="stylesheet" href="{{ front_uri ~ '/assets/css/slick.css' }}">
    <link rel="stylesheet" href="{{ front_uri ~ '/assets/css/nice-select.css' }}">
    <link rel="stylesheet" href="{{ front_uri ~ '/assets/css/odometer.css' }}">

    <!-- Custom Link -->
    <link rel="stylesheet" href="{{ front_uri ~ '/assets/css/main.css' }}">
    <link rel="shortcut icon" href="{{ front_uri ~ '/assets/images/favicon.png' }}" type="image/x-icon">
{% endblock %}

{% block body_main %}

    <div class="preloader">
        <div class="preinnner">
            <div class="ring"></div>
            <div class="ring"></div>
            <div class="ring"></div>
        </div>
    </div>
    <div class="overlay"></div>

    <!-- Header Section Starts Here -->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="header__top__wrapper d-flex flex-wrap align-items-center justify-content-center justify-content-md-between text-center">
                    <ul class="contacts d-flex flex-wrap justify-content-center">
                        <li>
                            <a href="{{ Uss.getOption('company:email') }}">
                                <i class="las la-envelope-open"></i>
                                <span class="__cf_email__" data-cfemail="dabebfb7b59abdb7bbb3b6f4b9b5b7">
                                    {{ Uss.getOption('company:email') }}
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="las la-phone-volume"></i> 
                                123  -  456  -  7890
                            </a>
                        </li>
                    </ul>
                    <div class="right__area d-flex flex-wrap align-items-center mt-3 mt-md-0">
                        <select name="language" class="nice-select custom--scrollbar">
                            <option>English</option>
                            <option>Bangla</option>
                        </select>
                        <a href="dashboard.html" class="user__thumb ms-3 me-3 me-lg-0">
                            <img src="{{ front_uri ~ '/assets/images/dashboard/user.png' }}" alt="dashboard">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom-area">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{{ Uss.getOption('company:logo') }}" alt="logo">
                        </a>
                    </div>
                    <ul class="menu">
                        <li>
                            <a href="{{ baseurl }}">Home</a>
                           </li>
                        <li>
                            <a href="{{ baseurl }}/about">About</a>
                        </li>
                        <li>
                            <a href="{{ baseurl }}/plan">Plan</a>
                        </li>
                        
                        <li>
                            <a href="{{ baseurl }}/blog">Blog</a>
                        </li>
                        <li>
                            <a href="{{ baseurl }}/contact">Contact</a>
                        </li>
    
                        <li class="d-none d-lg-block">
                            <a href="#0" class="search--btn">
                                <i class="fas fa-search"></i>
                            </a>
                        </li>
    
                        <li class="p-0 d-lg-none mt-3 mt-lg-0">
                            <div class="button__wrapper">
                                <a href="{{ register_url }}" class="cmn--btn">Register</a>
                                <a href="{{ login_url }}" class="cmn--btn">Login</a>
                            </div>
                        </li>
                    </ul>   <!-- Menu End -->
    
                    <div class="button__wrapper d-none d-lg-block">
                        <a href="{{ register_url }}" class="cmn--btn">Register</a>
                        <a href="{{ login_url }}" class="cmn--btn">Login</a>
                    </div>
                    
    
                    <div class="header-trigger-wrapper d-flex d-lg-none align-items-center">
                        <div class="mobile-nav-right d-flex align-items-center"></div>
                        <a href="#0" class="search--btn me-4 text--base"><i class="fas fa-search"></i></a>
                        <div class="header-trigger d-block d--none">
                            <span></span>
                        </div>
                    </div>  <!-- Trigger End-->
                </div>
            </div>
        </div>
    </div>
    <!-- Header Section Ends Here -->


    <!-- Search Form Starts Here -->
    <div class="search__form__wrapper">
        <div class="form__inner">
            <form class="search__form">
                <div class="form-group">
                    <input type="text" class="form-control form--control" placeholder="Search Here...">
                    <button type="submit" class="cmn--btn btn">Search</button>
                </div>
            </form>
            <button class="btn-close btn-close-white"></button>
        </div>
    </div>
    <!-- Search Form Ends Here -->
    
    {% if banner is not empty %}
        <div class="inner-banner section-bg overflow-hidden">
            <div class="container">
                <div class="inner__banner__content text-center">
                    <h2 class="title">{{ banner.title }}</h2>
                    <ul class="breadcums d-flex flex-wrap justify-content-center">
                        <li><a href="{{ baseurl }}">Home</a>//</li>
                        <li>{{ banner.name }}</li>
                    </ul>
                </div>
            </div>
            <div class="shapes">
                <img src="{{ front_uri ~ '/assets/images/banner/inner-bg.png' }}" alt="banner" class="shape shape1">
                <img src="{{ front_uri ~ '/assets/images/banner/inner-thumb.png' }}" alt="banner" class="shape shape2 d-none d-lg-block">
            </div>
        </div>
    {% endif %}

    {% block content_area %}
        <!-- Your content should be within this block -->
    {% endblock %}

    <!-- Footer Section Starts Here -->
    <footer class="footer-section section-bg">
        <div class="footer-top padding-top pb-5 border-bottom border--white">
            <div class="container">
                <div class="row gy-5 justify-content-md-between">
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer__widget">
                            <h3 class="widget-title">About Company</h3>
                            <p>{{ Uss.getOption('company:description') }}</p>
                            <ul class="social-links">
                                <li>
                                    <a class="facebook-bg" href="#0">
                                        <i class="lab la-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter-bg" href="#0">
                                        <i class="lab la-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram-bg" href="#0">
                                        <i class="lab la-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="pinterest-bg" href="#0">
                                        <i class="lab la-pinterest"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer__widget">
                            <h3 class="widget-title">Useful Links</h3>
                            <ul class="footer-links">
                                <li><a href="{{ baseurl }}/plan">Hyip Plan</a></li>
                                
                                <li><a href="{{ login_url }}">Dashboard</a></li>
                                <li><a href="{{ register_url }}">Create Account</a></li>
                                <li><a href="{{ baseurl }}/terms-conditions">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer__widget">
                            <h3 class="widget-title">Company</h3>
                            <ul class="footer-links">
                                <li><a href="{{ baseurl }}/about">About</a></li>
                                <li><a href="{{ baseurl }}/blog">Blog Post</a></li>
                                <li><a href="{{ baseurl }}/dashboard">User Dashboard</a></li>
                                <li><a href="{{ baseurl }}/faq">Faq</a></li>
                                <li><a href="{{ baseurl }}/contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="copyright text-center py-3">
                    Copyright &copy; {{ "now"|date("Y") }} All Rights Reserved.
                </p>
            </div>
        </div>
    </footer>
    <!-- Footer Section Ends Here -->
    
    <a href="#0" class="scrollToTop">
        <i class="las la-rocket"></i>
    </a>

{% endblock %}

{% block body_js %}
    <script src="{{ front_uri ~ '/assets/js/jquery-3.6.0.min.js' }}"></script>
    <script src="{{ front_uri ~ '/assets/js/bootstrap.min.js' }}"></script>
    <script src="{{ front_uri ~ '/assets/js/slick.min.js' }}"></script>
    <script src="{{ front_uri ~ '/assets/js/nice-select.js' }}"></script>
    <script src="{{ front_uri ~ '/assets/js/odometer.min.js' }}"></script>
    <script src="{{ front_uri ~ '/assets/js/viewport.jquery.js' }}"></script>
    <script src="{{ front_uri ~ '/assets/js/main.js' }}"></script>
{% endblock %}