{% extends '@Shares/frontend/base.html.twig' %}

{% block content_area %}
    
    <!-- Blog Section STartrs Here -->
    <section class="blog-section padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-center g-4">
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item1.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item2.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item3.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item7.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item8.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item9.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item10.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item11.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item8.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item9.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item10.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item11.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pagination">
                <li class="page-item"><a href="#" class="page-link"><i class="las la-angle-left"></i></a></li>
                <li class="page-item active"><a href="#" class="page-link">01</a></li>
                <li class="page-item"><a href="#" class="page-link">02</a></li>
                <li class="page-item"><a href="#" class="page-link">03</a></li>
                <li class="page-item"><a href="#" class="page-link">04</a></li>
                <li class="page-item"><a href="#" class="page-link"><i class="las la-angle-right"></i></a></li>
            </ul>
        </div>
    </section>
    <!-- Blog Section Ends Here -->

{% endblock %}