{% extends '@Shares/frontend/base.html.twig' %}

{% block content_area %}
    <!-- Banner Section Starts Here -->
    <section class="banner-section overflow-hidden">
        <div class="container">
            <div class="banner__wrapper d-flex align-items-center justify-content-between">
                <div class="banner__content">
                    <h1 class="title">Best Hyip Investment Platform</h1>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero hyip investment pandding</p>
                    <a href="{{ register_url }}" class="cmn--btn">Get Started</a>
                </div>
                <div class="banner__thumb d-none d-lg-block">
                    <img src="{{ front_uri ~ '/assets/images/banner/thumb.png' }}" alt="banner">
                    <div class="shapes">
                        <img src="{{ front_uri ~ '/assets/images/banner/big-coin.png' }}" alt="banner" class="shape shape1">
                        <img src="{{ front_uri ~ '/assets/images/banner/light.png' }}" alt="banner" class="shape shape2">
                        <img src="{{ front_uri ~ '/assets/images/banner/sm-coin.png' }}" alt="banner" class="shape shape3">
                        <img src="{{ front_uri ~ '/assets/images/banner/sm-coin.png' }}" alt="banner" class="shape shape4">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section Ends Here -->


    <!-- Why Choose Us Section Starts Here -->
    <section class="choose-us padding-top padding-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="section__thumb rtl">
                        <img src="{{ front_uri ~ '/assets/images/choose-us/thumb.png' }}" alt="choose-us">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose__us__content">
                        <div class="section__header mb-0">
                            <h2 class="section__header-title">Why Choose Our Investment Platform </h2>
                            <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend acenim</p>
                        </div>
                        <p>Maecenas tempus tellus eget condimentum rhoncus seumper libero sit amet adipiscing sem neque sepsumam uam nuandit vel luct endrerilorem.aecenas necdio et ante dunt tempus. Donec vitae sapien utlibero venenatis faucibus.</p>
                        <ul class="info__list d-flex flex-wrap mt-4">
                            <li> Dapivamus elementum</li>
                            <li> Dapivamus elementum</li>
                            <li> There are many variations</li>
                            <li> There are many variations</li>
                            <li> Finibus onorum et alorum</li>
                            <li> Finibus onorum et alorum</li>
                        </ul>
                        <div class="button__wrapper">
                            <a href="{{ baseurl }}/about" class="cmn--btn">Know More</a>
                            <a href="{{ baseurl }}/contact" class="cmn--btn2">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Choose Us Section Ends Here -->


    <!-- Plan Section Starts Here -->
    <section class="plan-section padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section__header text-center">
                        <h2 class="section__header-title">Our Investment Plan</h2>
                        <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend </p>
                    </div>
                </div>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">5%</h2>
                            <p class="plan-parcent-info">After 6 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOREVER</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">69%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOR 8 HOURS</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">120%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 3 Months</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">200%</h2>
                            <p class="plan-parcent-info">After 6 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 6 Months</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">250%</h2>
                            <p class="plan-parcent-info">After 8 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOREVER</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">270%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOR 10 Months</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">300%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 1 Year</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">320%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 1.2 Years</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Plan Section Ends Here -->


    <!-- Profit Calculation Section Starts Here -->
    <section class="profit-calculation padding-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="section__thumb profit__calculation__thumb rtl me-5">
                        <img src="{{ front_uri ~ '/assets/images/calculate-profit/thumb.png' }}" alt="profit-calculation">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="profit__calculation__content">
                        <div class="section__header">
                            <h2 class="section__header-title">Calculate Your Hyip investment</h2>
                            <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend acenim</p>
                        </div>
                        <form class="profit__calculation__form">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label">Plan</label>
                                        <select class="nice-select w-100 h-50">
                                            <option>Select Plan</option>
                                            <option>Silver Plan</option>
                                            <option>Gold Plan</option>
                                            <option>Platium Plan</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label">Compounding</label>
                                        <select class="nice-select w-100 h-50">
                                            <option>05%</option>
                                            <option>15%</option>
                                            <option>20%</option>
                                            <option>25%</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label">Profit</label>
                                        <input type="text" class="form-control form--control" placeholder="$60,000">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label">Total Returns</label>
                                        <input type="text" class="form-control form--control" placeholder="$800000">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Profit Calculation Section Ends Here -->


    <!-- Feature Section Starts Here -->
    <section class="feature-section padding-bottom overflow-hidden">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section__header text-center">
                        <h2 class="section__header-title">Best  for Hyip Investment</h2>
                        <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend </p>
                    </div>
                </div>
            </div>
            <div class="feature__slider">
                <div class="single-slide">
                    <div class="feature__item">
                        <div class="feature__item-icon">
                            <img src="{{ front_uri ~ '/assets/images/feature/1.png' }}" alt="feature">
                        </div>
                        <div class="feature__item-content">
                            <h4 class="title">Get More Profit</h4>
                            <p>Maecenas tempuslusning eget condim entum and rhoncus eumpesit.</p>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="feature__item">
                        <div class="feature__item-icon">
                            <img src="{{ front_uri ~ '/assets/images/feature/2.png' }}" alt="feature">
                        </div>
                        <div class="feature__item-content">
                            <h4 class="title">24/7 Support</h4>
                            <p>Maecenas tempuslusning eget condim entum and rhoncus eumpesit.</p>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="feature__item">
                        <div class="feature__item-icon">
                            <img src="{{ front_uri ~ '/assets/images/feature/3.png' }}" alt="feature">
                        </div>
                        <div class="feature__item-content">
                            <h4 class="title">Strong Protection</h4>
                            <p>Maecenas tempuslusning eget condim entum and rhoncus eumpesit.</p>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="feature__item">
                        <div class="feature__item-icon">
                            <img src="{{ front_uri ~ '/assets/images/feature/4.png' }}" alt="feature">
                        </div>
                        <div class="feature__item-content">
                            <h4 class="title">Relability</h4>
                            <p>Maecenas tempuslusning eget condim entum and rhoncus eumpesit.</p>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="feature__item">
                        <div class="feature__item-icon">
                            <img src="{{ front_uri ~ '/assets/images/feature/4.png' }}" alt="feature">
                        </div>
                        <div class="feature__item-content">
                            <h4 class="title">Relability</h4>
                            <p>Maecenas tempuslusning eget condim entum and rhoncus eumpesit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Section Ends Here -->


    <!-- Referral Section Starts Here -->
    <section class="referral-section padding-top padding-bottom section-bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 align-self-end d-none d-lg-block">
                    <div class="section__thumb rtl me-5">
                        <img src="{{ front_uri ~ '/assets/images/referral/thumb.png' }}" alt="referral">
                        <div class="shapes">
                            <img src="{{ front_uri ~ '/assets/images/referral/clock.png' }}" alt="referral" class="shape shape1">
                            <img src="{{ front_uri ~ '/assets/images/referral/man.png' }}" alt="referral" class="shape shape2">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section__header">
                        <h2 class="section__header-title">30% Referral Commission</h2>
                        <p>Aenean vulputate eleifend tellus. Aenea ligul porttitoeu consequat vitae eleifend acenim</p>
                    </div>
                    <a href="{{ register_url }}" class="cmn--btn">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Referral Section Ends Here -->


    <!-- Investor Section Starts Here -->
    <section class="investor-section padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section__header text-center">
                        <h2 class="section__header-title">Our Best Investor</h2>
                        <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center gy-5">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="investor__item">
                        <div class="investor__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/investor/investor1.png' }}" alt="investor">
                        </div>
                        <div class="investor__item-content">
                            <h3 class="name">Robart Williams</h3>
                            <p class="invest-amount">Invest 250 USD</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="investor__item">
                        <div class="investor__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/investor/investor2.png' }}" alt="investor">
                        </div>
                        <div class="investor__item-content">
                            <h3 class="name">Munna Ahmed</h3>
                            <p class="invest-amount">Invest 350 USD</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="investor__item">
                        <div class="investor__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/investor/investor3.png' }}" alt="investor">
                        </div>
                        <div class="investor__item-content">
                            <h3 class="name">Maliha Mahtab</h3>
                            <p class="invest-amount">Invest 450 USD</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="investor__item">
                        <div class="investor__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/investor/investor4.png' }}" alt="investor">
                        </div>
                        <div class="investor__item-content">
                            <h3 class="name">Taposhi Ahmed</h3>
                            <p class="invest-amount">Invest 550 USD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Investor Section Ends Here -->


    <!-- Download Section Starts Here -->
    <section class="download-section padding-bottom section-bg-two overflow-hidden">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="section__header">
                        <h2 class="section__header-title">Download Our App</h2>
                        <p>Curabitur ullamcorper ultricies nisi Tupural Engle  Nam eget dui. Etiam rhoncus.</p>
                    </div>
                    <div class="button__wrapper">
                        <a href="sign-up.html" class="cmn--btn download-btn"><div class="icon"><i class="fab fa-google-play"></i></div> <div class="text"><p>DOWNLOAD</p><p class="for">For Android</p></div></a>
                        <a href="sign-up.html" class="cmn--btn download-btn"><div class="icon"><i class="fab fa-apple"></i></div> <div class="text"><p>DOWNLOAD</p><p class="for">For IOS</p></div></a>
                    </div>
                    <div class="counter__wrapper row gy-4 gy-sm-5 pt-4 pt-sm-5">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                            <div class="counter__item">
                                <div class="counter__item-header d-flex align-items-center">
                                    <div class="icon">
                                        <img src="{{ front_uri ~ '/assets/images/download/icon1.png' }}" alt="counter">
                                    </div>
                                    <h2 class="title"><span class="odometer" data-odometer-final="39">0</span>M</h2>
                                </div>
                                <p class="info">Active Members</p>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                            <div class="counter__item">
                                <div class="counter__item-header d-flex align-items-center">
                                    <div class="icon">
                                        <img src="{{ front_uri ~ '/assets/images/download/icon2.png' }}" alt="counter">
                                    </div>
                                    <h2 class="title"><span class="odometer" data-odometer-final="150">0</span>M</h2>
                                </div>
                                <p class="info">Our Total Deposit</p>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                            <div class="counter__item">
                                <div class="counter__item-header d-flex align-items-center">
                                    <div class="icon">
                                        <img src="{{ front_uri ~ '/assets/images/download/icon3.png' }}" alt="counter">
                                    </div>
                                    <h2 class="title"><span class="odometer" data-odometer-final="40">0</span>M</h2>
                                </div>
                                <p class="info">Our Total Withdraw</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <div class="section__thumb profit__calculation__thumb ">
                        <img src="{{ front_uri ~ '/assets/images/download/thumb.png' }}" alt="download">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Download Section Ends Here -->


    <!-- Faq Section Starts Here -->
    <section class="faq-section padding-top padding-bottom bg_img" style="background: url(assets/images/faq/bg.png);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10">
                    <div class="section__header text-center max-p">
                        <h2 class="section__header-title">Frequently Asked  Questions</h2>
                        <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="faq__wrapper">
                        <div class="faq__item">
                            <div class="faq__item-title">
                                <h4 class="title">Why You should become an Investor?</h4>
                            </div>
                            <div class="faq__item-content">
                                <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                            </div>
                        </div>
                        <div class="faq__item">
                            <div class="faq__item-title">
                                <h4 class="title">Why You Choose Us?</h4>
                            </div>
                            <div class="faq__item-content">
                                <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                            </div>
                        </div>
                        <div class="faq__item open active">
                            <div class="faq__item-title">
                                <h4 class="title">What is Hyip  Investment?</h4>
                            </div>
                            <div class="faq__item-content">
                                <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                            </div>
                        </div>
                        <div class="faq__item">
                            <div class="faq__item-title">
                                <h4 class="title">How to do we work?</h4>
                            </div>
                            <div class="faq__item-content">
                                <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq Section Ends Here -->


    <!-- Transection Section Starts Here -->
    <section class="transection-section section-bg padding-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10">
                    <div class="section__header max-p text-center">
                        <h2 class="section__header-title">Latest Deposit & Withdraw </h2>
                        <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <ul class="transection__tab__menu nav-tabs nav border-0 justify-content-center">
                        <li><a data-bs-toggle="tab" href="#deposit" class="cmn--btn2 active">Last Deposit</a></li>
                        <li><a data-bs-toggle="tab" href="#widthdraw" class="cmn--btn2">Last Widthdraw</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show fade active" id="deposit">
                            <table class="table transection__table">
                                <thead>
                                    <tr>
                                        <th>User Name</th>
                                        <th>Amount</th>
                                        <th>Wallet</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="User Name">
                                            <div class="user d-flex flex-wrap align-items-center">
                                                <div class="thumb">
                                                    <img src="{{ front_uri ~ '/assets/images/dashboard/item1.png' }}" alt="dashboard">
                                                </div>
                                                <p class="name">Robert Mahfuj</p>
                                            </div>
                                        </td>
                                        <td data-label="Amount"><span class="amount">$1500</span></td>
                                        <td data-label="Wallet"><span class="wallet">Payeer</span></td>
                                        <td data-label="Date"><span class="date">25 Apr 2021</span></td>
                                    </tr>
                                    <tr>
                                        <td data-label="User Name">
                                            <div class="user d-flex flex-wrap align-items-center">
                                                <div class="thumb">
                                                    <img src="{{ front_uri ~ '/assets/images/dashboard/item2.png' }}" alt="dashboard">
                                                </div>
                                                <p class="name">Munna Ahmed</p>
                                            </div>
                                        </td>
                                        <td data-label="Amount"><span class="amount">$1500</span></td>
                                        <td data-label="Wallet"><span class="wallet">Payeer</span></td>
                                        <td data-label="Date"><span class="date">25 Jan 2021</span></td>
                                    </tr>
                                    <tr>
                                        <td data-label="User Name">
                                            <div class="user d-flex flex-wrap align-items-center">
                                                <div class="thumb">
                                                    <img src="{{ front_uri ~ '/assets/images/dashboard/item3.png' }}" alt="dashboard">
                                                </div>
                                                <p class="name">Rafuj Raihan</p>
                                            </div>
                                        </td>
                                        <td data-label="Amount"><span class="amount">$1500</span></td>
                                        <td data-label="Wallet"><span class="wallet">block.io</span></td>
                                        <td data-label="Date"><span class="date">25 May 2021</span></td>
                                    </tr>
                                    <tr>
                                        <td data-label="User Name">
                                            <div class="user d-flex flex-wrap align-items-center">
                                                <div class="thumb">
                                                    <img src="{{ front_uri ~ '/assets/images/dashboard/item4.png' }}" alt="dashboard">
                                                </div>
                                                <p class="name">Robert Mahfuj</p>
                                            </div>
                                        </td>
                                        <td data-label="Amount"><span class="amount">$1500</span></td>
                                        <td data-label="Wallet"><span class="wallet">Bank Wire</span></td>
                                        <td data-label="Date"><span class="date">25 Feb 2021</span></td>
                                    </tr>
                                    <tr>
                                        <td data-label="User Name">
                                            <div class="user d-flex flex-wrap align-items-center">
                                                <div class="thumb">
                                                    <img src="{{ front_uri ~ '/assets/images/dashboard/item5.png' }}" alt="dashboard">
                                                </div>
                                                <p class="name">Jibon Khan</p>
                                            </div>
                                        </td>
                                        <td data-label="Amount"><span class="amount">$2500</span></td>
                                        <td data-label="Wallet"><span class="wallet">Paypal</span></td>
                                        <td data-label="Date"><span class="date">25 May 2021</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane show fade" id="widthdraw">
                            <table class="table transection__table">
                                <thead>
                                    <tr>
                                        <th>User Name</th>
                                        <th>Amount</th>
                                        <th>Wallet</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="User Name">
                                            <div class="user d-flex flex-wrap align-items-center">
                                                <div class="thumb">
                                                    <img src="{{ front_uri ~ '/assets/images/dashboard/item1.png' }}" alt="dashboard">
                                                </div>
                                                <p class="name">Robert Mahfuj</p>
                                            </div>
                                        </td>
                                        <td data-label="Amount"><span class="amount">$1500</span></td>
                                        <td data-label="Wallet"><span class="wallet">Payeer</span></td>
                                        <td data-label="Date"><span class="date">25 Apr 2021</span></td>
                                    </tr>
                                    <tr>
                                        <td data-label="User Name">
                                            <div class="user d-flex flex-wrap align-items-center">
                                                <div class="thumb">
                                                    <img src="{{ front_uri ~ '/assets/images/dashboard/item2.png' }}" alt="dashboard">
                                                </div>
                                                <p class="name">Munna Ahmed</p>
                                            </div>
                                        </td>
                                        <td data-label="Amount"><span class="amount">$1500</span></td>
                                        <td data-label="Wallet"><span class="wallet">Payeer</span></td>
                                        <td data-label="Date"><span class="date">25 Jan 2021</span></td>
                                    </tr>
                                    <tr>
                                        <td data-label="User Name">
                                            <div class="user d-flex flex-wrap align-items-center">
                                                <div class="thumb">
                                                    <img src="{{ front_uri ~ '/assets/images/dashboard/item3.png' }}" alt="dashboard">
                                                </div>
                                                <p class="name">Rafuj Raihan</p>
                                            </div>
                                        </td>
                                        <td data-label="Amount"><span class="amount">$1500</span></td>
                                        <td data-label="Wallet"><span class="wallet">block.io</span></td>
                                        <td data-label="Date"><span class="date">25 May 2021</span></td>
                                    </tr>
                                    <tr>
                                        <td data-label="User Name">
                                            <div class="user d-flex flex-wrap align-items-center">
                                                <div class="thumb">
                                                    <img src="{{ front_uri ~ '/assets/images/dashboard/item4.png' }}" alt="dashboard">
                                                </div>
                                                <p class="name">Robert Mahfuj</p>
                                            </div>
                                        </td>
                                        <td data-label="Amount"><span class="amount">$1500</span></td>
                                        <td data-label="Wallet"><span class="wallet">Bank Wire</span></td>
                                        <td data-label="Date"><span class="date">25 Feb 2021</span></td>
                                    </tr>
                                    <tr>
                                        <td data-label="User Name">
                                            <div class="user d-flex flex-wrap align-items-center">
                                                <div class="thumb">
                                                    <img src="{{ front_uri ~ '/assets/images/dashboard/item5.png' }}" alt="dashboard">
                                                </div>
                                                <p class="name">Jibon Khan</p>
                                            </div>
                                        </td>
                                        <td data-label="Amount"><span class="amount">$2500</span></td>
                                        <td data-label="Wallet"><span class="wallet">Paypal</span></td>
                                        <td data-label="Date"><span class="date">25 May 2021</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Transection Section Ends Here -->


    <!-- Testimonial Section Starts Here -->
    <section class="testimonial-section padding-top padding-bottom">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5">
                    <div class="testimonial__img__slider">
                        <div class="single-slide">
                            <div class="testimonial__thumb">
                                <img src="{{ front_uri ~ '/assets/images/testimonial/item1.png' }}" alt="testimonial">
                            </div>
                        </div>
                        <div class="single-slide">
                            <div class="testimonial__thumb">
                                <img src="{{ front_uri ~ '/assets/images/testimonial/item2.png' }}" alt="testimonial">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="testimonial__content__slider">
                        <div class="single-slide">
                            <div class="testimonial__content">
                                <div class="icon"><i class="fas fa-quote-left"></i></div>
                                <p>Maecenas tempus tellus egcondi entuhoncus seuam semper libero sit amet adipiscing sque sesum.amuam nunc, blandit vel, luctus pvinar hendrerilorem. aecenas nec odio</p>
                                <h3 class="name">Rasel Pranto</h3>
                                <span class="designation text-white">Front-end Web Developer</span>
                            </div>
                        </div>
                        <div class="single-slide">
                            <div class="testimonial__content">
                                <div class="icon"><i class="fas fa-quote-left"></i></div>
                                <p>Maecenas tempus tellus egcondi entuhoncus seuam semper libero sit amet adipiscing sque sesum.amuam nunc, blandit vel, luctus pvinar hendrerilorem. aecenas nec odio</p>
                                <h3 class="name">Munna Ahmed</h3>
                                <span class="designation text-white">Front-end Web Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section Ends Here -->


    <!-- Blog Section STartrs Here -->
    <section class="blog-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10">
                    <div class="section__header max-p text-center">
                        <h2 class="section__header-title">See Our Latest Blog & Tips</h2>
                        <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center g-4">
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item1.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item2.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="post__item">
                        <div class="post__item-thumb">
                            <img src="{{ front_uri ~ '/assets/images/blog/item3.png' }}" alt="blog">
                            <div class="thumb__content">
                                <h3 class="title"><a href="blog-details.html">Aenean Ligul Porttitoe Consequat Ditae</a></h3>
                                <ul class="post-meta d-flex flex-wrap m-0 justify-content-between">
                                    <li>
                                        <i class="fas fa-user"></i>
                                        Thomas Addican
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i>
                                        15 Aug 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section Ends Here -->


    <!-- Brand Section Starts Here -->
    <div class="padding-top padding-bottom">
        <div class="container">
            <div class="brand__slider">
                <div class="single-slide">
                    <div class="brand__item">
                        <img src="{{ front_uri ~ '/assets/images/brand/item1.png' }}" alt="brand">
                    </div>
                </div>
                <div class="single-slide">
                    <div class="brand__item">
                        <img src="{{ front_uri ~ '/assets/images/brand/item1.png' }}" alt="brand">
                    </div>
                </div>
                <div class="single-slide">
                    <div class="brand__item">
                        <img src="{{ front_uri ~ '/assets/images/brand/item1.png' }}" alt="brand">
                    </div>
                </div>
                <div class="single-slide">
                    <div class="brand__item">
                        <img src="{{ front_uri ~ '/assets/images/brand/item1.png' }}" alt="brand">
                    </div>
                </div>
                <div class="single-slide">
                    <div class="brand__item">
                        <img src="{{ front_uri ~ '/assets/images/brand/item1.png' }}" alt="brand">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Brand Section Ends Here -->
{% endblock %}