{% extends '@Shares/frontend/base.html.twig' %}

{% block content_area %}

    <!-- Plan Section Starts Here -->
    <section class="plan-section padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section__header text-center">
                        <h2 class="section__header-title">Our Investment Plan 01</h2>
                        <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend </p>
                    </div>
                </div>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">5%</h2>
                            <p class="plan-parcent-info">After 6 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOREVER</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">69%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOR 8 HOURS</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">120%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 3 Months</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">200%</h2>
                            <p class="plan-parcent-info">After 6 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 6 Months</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">250%</h2>
                            <p class="plan-parcent-info">After 8 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOREVER</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">270%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOR 10 Months</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">300%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 1 Year</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">320%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 1.2 Years</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Plan Section Ends Here -->


    <!-- Referral Section Starts Here -->
    <section class="referral-section  padding-bottom section-bg-two">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 align-self-end d-none d-lg-block">
                    <div class="section__thumb rtl me-5">
                        <img src="{{ front_uri ~ '/assets/images/referral/thumb.png' }}" alt="referral">
                        <div class="shapes">
                            <img src="{{ front_uri ~ '/assets/images/referral/clock.png' }}" alt="referral" class="shape shape1">
                            <img src="{{ front_uri ~ '/assets/images/referral/man.png' }}" alt="referral" class="shape shape2">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section__header">
                        <h2 class="section__header-title">30% Referral Commission</h2>
                        <p>Aenean vulputate eleifend tellus. Aenea ligul porttitoeu consequat vitae eleifend acenim</p>
                    </div>
                    <a href="sign-up.html" class="cmn--btn">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Referral Section Ends Here -->


    <!-- Plan Section Starts Here -->
    <section class="plan-section padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section__header text-center">
                    <h2 class="section__header-title">Our Investment Plan 02</h2>
                    <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend </p>
                </div>
            </div>
        </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">5%</h2>
                            <p class="plan-parcent-info">After 6 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOREVER</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">69%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOR 8 HOURS</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">120%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 3 Months</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">200%</h2>
                            <p class="plan-parcent-info">After 6 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 6 Months</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">5%</h2>
                            <p class="plan-parcent-info">After 6 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOREVER</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">69%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> FOR 8 HOURS</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">120%</h2>
                            <p class="plan-parcent-info">Hourly</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 3 Months</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="plan__item style--two">
                        <div class="plan__item-header">
                            <h2 class="plan-parcent">200%</h2>
                            <p class="plan-parcent-info">After 6 Hours</p>
                        </div>
                        <div class="plan__item-body">
                            <ul class="plan__info">
                                <li>
                                    <span class="title">Min :</span>
                                    <span class="value">15 USD</span>
                                </li>
                                <li>
                                    <span class="title">Max :</span>
                                    <span class="value">30 USD</span>
                                </li>
                            </ul>
                        </div>
                        <div class="plan__item-footer">
                            <p class="footer-info"> After 6 Months</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Plan Section Ends Here -->


    <!-- Profit Calculation Section Starts Here -->
    <section class="profit-calculation padding-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="section__thumb profit__calculation__thumb rtl me-5">
                        <img src="{{ front_uri ~ '/assets/images/calculate-profit/thumb.png' }}" alt="profit-calculation">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="profit__calculation__content">
                        <div class="section__header">
                            <h2 class="section__header-title">Calculate Your Hyip investment</h2>
                            <p>Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend acenim</p>
                        </div>
                        <form class="profit__calculation__form">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label">Plan</label>
                                        <select class="nice-select w-100 h-50">
                                            <option>Select Plan</option>
                                            <option>Silver Plan</option>
                                            <option>Gold Plan</option>
                                            <option>Platium Plan</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label">Compounding</label>
                                        <select class="nice-select w-100 h-50">
                                            <option>05%</option>
                                            <option>15%</option>
                                            <option>20%</option>
                                            <option>25%</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label">Profit</label>
                                        <input type="text" class="form-control form--control" placeholder="$60,000">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12 col-xl-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label">Total Returns</label>
                                        <input type="text" class="form-control form--control" placeholder="$800000">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Profit Calculation Section Ends Here -->


    <!-- Faq Section Starts Here -->
    <section class="faq-section padding-bottom overflow-hidden">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6">
                    <div class="section__header mb-0">
                        <h2 class="section__header-title">What Your Want to Know About Us ?</h2>
                        <div class="faq__wrapper">
                            <div class="faq__item style--two">
                                <div class="faq__item-title">
                                    <h4 class="title">Why You should become an Investor?</h4>
                                </div>
                                <div class="faq__item-content">
                                    <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                                </div>
                            </div>
                            <div class="faq__item style--two">
                                <div class="faq__item-title">
                                    <h4 class="title">Why You Choose Us?</h4>
                                </div>
                                <div class="faq__item-content">
                                    <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                                </div>
                            </div>
                            <div class="faq__item style--two open active">
                                <div class="faq__item-title">
                                    <h4 class="title">What is Hyip  Investment?</h4>
                                </div>
                                <div class="faq__item-content">
                                    <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                                </div>
                            </div>
                            <div class="faq__item style--two">
                                <div class="faq__item-title">
                                    <h4 class="title">How to do we work?</h4>
                                </div>
                                <div class="faq__item-content">
                                    <p>Fringilla mauris  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales augue velit cursus nunc quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy idmetus</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <div class="section__thumb ">
                        <img src="{{ front_uri ~ '/assets/images/faq/thumb.png' }}" alt="download">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq Section Ends Here -->

{% endblock %}