{% extends '@Shares/base.html.twig' %}

{% block shares_component %}
    
    <h4 class='text-capitalize'> {{ model }} gateway </h4>

    {% if action != constant("CrudActionImmutableInterface::ACTION_INDEX") %}

        {{ form.open()|raw }}

            {{ form.find('.action-container', 0).HTML|raw }}

            {{ form.getField('__NONCE__').fieldAsHTML|raw }}

            <div class="row">
                <div class="col-lg-5 mb-3">
                    <div class='card'>
                        <div class='card-body'>

                            <div class="mb-3">
                                <label class="form-label">Gateway Icon</label>
                                <figure class='image-central border bg-secondary' style="--image-central-width: 100px">
                                    <img src='{{ item.icon }}' id="icon-img">
                                </figure>
                                {{ form.getField("icon").fieldAsHTML|raw }}
                                <button type="button" class="btn btn-outline-primary btn-sm" data-ui-transfer-click-event-to="#icon-file">
                                    <i class="bi bi-image me-1"></i> Upload Icon
                                </button>
                            </div>      

                            {{ form.getField("method").fieldAsHTML|raw }}

                            <div class="mt-3">
                                {{ form.getField('status').fieldAsHTML|raw }}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="card">
                        <div class="card-header text-uppercase d-flex align-items-center">
                            <div class='card-title flex-grow-1'>Custom Gateway Detail</div>
                            <div class="card-button text-end ms-2">
                                <button type="button" class="btn btn-outline-primary btn-sm text-nowrap" id="template-adder">
                                    <i class="bi bi-plus-lg"></i> Insert
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            {% if model == 'withdrawal' %}
                                <div class="small mb-2 text-info">
                                    Enter the information required from client to process withdrawal from this gateway
                                </div>
                            {% endif %}
                            <div id="template-block"></div>
                        </div>
                    </div>
                </div>
            </div>

        {{ form.close()|raw }}

        {% block template %}
            <template id="template" data-detail="{{ gateway_details }}" data-model="{{ model }}">
                <div class="row mb-2" data-template>
                    {% if model == 'deposit' %}
                        <div class="col-sm-6 mb-1">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text" >
                                    <i class="bi bi-check-circle"></i>
                                </span>
                                <input type="text" class="form-control form-control-sm" placeholder="key" data-key required name="detail[key][]"/>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-1">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text">
                                    <i class="bi bi-pencil"></i>
                                </span>
                                <input type="text" class="form-control form-control-sm" placeholder="value" data-value required name="detail[value][]"/>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-sm-6 mb-1">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text" >
                                    <i class="bi bi-lock"></i>
                                </span>
                                <input type="text" class="form-control form-control-sm" placeholder="property" data-key required name="detail[key][]"/>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-1">
                            <div class="form-check form-switch">
                                <input name="detail[value][]" type="hidden" value="0">
                                <input type="checkbox" class="form-check-input" placeholder="value" data-value name="detail[value][]" value="1"/>
                                <label class="form-check-label">Required</label>
                            </div>
                        </div>
                    {% endif %}
                    <div class='col-12'>
                        <div class='border-bottom text-end fs-12px'>
                            <a href='javascript:void(0)' class="text-danger" data-trash>
                                <i class="bi bi-trash"></i>
                                Trash
                            </a>
                        </div>
                    </div>
                </div>
            </template>
        {% endblock %}
    
    {% else %}

        {{ view.HTML|raw }}

    {% endif %}

{% endblock %}

{% block body_js %}
    {{ parent() }}
    {% set jsfile = constant('SharesImmutable::ASSETS_DIR') ~ "/js/gateway.admin.js" %}
    <script src="{{ Uss.abspathToUrl(jsfile) }}"></script>
{% endblock %}