{# The base template of user synthetics #}
<!doctype html>
<html>
<head>
    
    <title>{{ page_title|default('User Synthetics') }}</title>
    <script>const Uss = JSON.parse(atob('{{ Uss.jsElement }}'));</script>

    {% block head %}

        {% block head_metas %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="generator" content="User Synthetics" />
        <meta name='description' content='{{ page_description|default('') }}'>
        {% endblock head_metas %}

        {% block head_css %}
            {{ Uss.renderBlocks('head_css', 2)|raw }} 
        {% endblock head_css %}

        {% block head_js %}
            {{ Uss.renderBlocks('head_js', 2)|raw }}
        {% endblock head_js %}

    {% endblock head %}

</head>
<body>

    {% block body %}
        
        {% block body_main %}{% endblock body_main %}

        {% block body_js %}
            {{ Uss.renderBlocks('body_js', 2)|raw }}
        {% endblock body_js %}

    {% endblock body %}

</body>
</html>