{# The base template of user synthetics #}
<!doctype html>
<html>
<head>
    
    <title>{{ page_title|default('User Synthetics') }}</title>
    <script>const Uss = JSON.parse(atob('{{ Uss.jsElement }}'));</script>

    {% block head %}

        {% block head_metas %}
            <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
            <meta name='description' content='{{ page_description|default('') }}'>
        {% endblock head_metas %}

        {% block head_css %}
            {{ Uss.renderBlocks('head_css', 2)|raw }} 
        {% endblock head_css %}

        {% block head_js %}
            {{ Uss.renderBlocks('head_js', 2)|raw }}
        {% endblock head_js %}

    {% endblock head %}

</head>
<body>

    {% block body %}
        
        {{ Uss.renderBlocks('body_intro', 1)|raw }}

        {% block body_main %}{% endblock body_main %}

        {% block body_js %}
            {{ Uss.renderBlocks('body_js', 2)|raw }}
        {% endblock body_js %}

        {{ Uss.renderBlocks('body_outro', 1)|raw }}

    {% endblock body %}

</body>
</html>