{% extends 'base.html.twig' %}

{% block body_main %}

<div class="d-flex align-items-center min-vh-100 text-center {{ error_class|default('bg-light') }}">
	<div class="container py-4">

		{% block error_main %}

			<div class='row'>
				<div class='col-md-8 m-auto'>

					{% block error_content %}

						{% block error_subject %}

							{% if subject is defined %} 
								<h2 class='{{ subject_class|default('mb-4') }}'>
									{{ subject|raw }}
								</h2>
							{% endif %}

						{% endblock %}

						{% block error_message %}

							{% if message is defined %}
								<div class='{{ message_class|default('') }}'>
									{{ message|raw }}
								</div>
							{% endif %}

						{% endblock %}

						{% block error_image %}

							{% if image is defined or ( subject is empty and message is empty ) %}

								{% set image404 = Uss.call('generateUrl', constant('UssEnum::ASSETS_DIR') ~ '/images/errors/error-404.webp') %}

								<img src="{{ image|default(image404) }}" 
									class="img-fluid user-select-none {{ image_class }}" 
									alt="ERROR IMAGE" 
									style='width: 40%; min-width: 220px; max-height: 100vh; {{ image_style|default('') }}' 
									loading="lazy">

							{% endif %}

						{% endblock %}

					{% endblock %}

				</div>
			</div>

		{% endblock %}

	</div>
</div>

{% endblock %}