{% extends 'base.html.twig' %}

{% block body_main %}
<div class="d-flex align-items-center min-vh-100 text-center {{ error_class|default('bg-light') }}">
	<div class="container py-4">

		<div class='row'>
			<div class='col-md-8 m-auto'>

                {% if subject is defined %} 
					<h2 class='{{ subject_class|default('mb-4') }}'>
						{{ subject|raw }}
					</h2>
				{% endif %}

				{% if message is defined %}
					<div class='{{ message_class|default('') }}'>
						{{ message|raw }}
					</div>
				{% endif %}

				{% if image is defined or ( subject is empty and message is empty ) %}
					<img src="{{ image|default(Uss.call('Core::url', constant('ASSETS_DIR') ~ '/images/errors/error-404.webp')) }}" 
						class="img-fluid user-select-none {{ image_class }}" 
						alt="ERROR IMAGE" 
						style='width: 40%; min-width: 220px; max-height: 100vh; {{ image_style|default('') }}' 
						loading="lazy">
				{% endif %}

			</div>
		</div>

	</div>
</div>
{% endblock %}