{% extends '@Shares/base.html.twig' %}

{% block shares_component %}

    <h3 class="display-6">Select A Deposit Method</h3>

    <div class="border-top p-lg-3 py-3">

        {% if gateways|length != 0 %}

            <div class="accordion accordion-flush" id="gateway-node">

                {% set increment = 0 %}

                {% for index, gateway in gateways %}

                    {% set item_id = "item-" ~ index %}
                    {% set visible = index == 0 and (gateways|length) == 1 %}

                    <div class="accordion-item mb-2">

                        <h2 class="accordion-header">
                            <button class="accordion-button fw-bold {{ visible ? null : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ item_id }}" aria-expanded="true" aria-controls="collapseOne">
                                {{ gateway['method']}}
                            </button>
                        </h2>

                        <div id="{{ item_id }}" class="accordion-collapse collapse {{ visible ? 'show' : null }}" aria-labelledby="heading-{{ index }}" data-bs-parent="#gateway-node">

                            <div class="accordion-body">
                                
                                <div class='alert alert-danger'> 
                                    <small>
                                        <i class='bi bi-lightning-charge'></i> Make instant deposit through <strong>{{ gateway['method'] }}</strong> gateway
                                    </small>
                                </div>

                                <div class="row">
                                    {% if gateway['icon'] is not empty %}
                                        <div class="col-sm-3 col-lg-2 mb-2">
                                            <div class="border p-2">
                                                <figure class="image-central m-0" style="--width-ratio: 2">
                                                    <img src='{{ gateway['icon'] }}' class=''>
                                                </figure>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class='{{ gateway['icon'] is not empty ? 'col-sm-9 col-lg-10' : 'col-12' }}'>
                                        <form method="POST" enctype="multipart/form-data">
                                            
                                            <div class='bg-light p-3 rounded-2 border mb-3'>
                                                {% for key, value in gateway['detail'] %}
                                                    
                                                    {% set increment = increment + 1 %}
                                                    {% set detail_id = item_id ~ increment %}

                                                    <div class="mb-2">
                                                        <label class='form-label fs-14px'>{{ key }}</label>
                                                        <div class="input-group input-group-sm">
                                                            <input class="form-control" type="text" readonly value="{{ value }}" id="{{ detail_id }}">
                                                            <button class='btn btn-info' data-ui-copy="#{{ detail_id }}" type="button">
                                                                <i class="bi bi-copy"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            
                                            <div class="mb-2">
                                                <label class="form-label fs-14px">Deposit Amount</label>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-text">
                                                        {{ constant('SHARES_CURRENCY') }}
                                                    </span>
                                                    <input type="number" step="0.000001" class="form-control form-control-sm" name="amount" required>
                                                </div>
                                            </div>

                                            <div class="mb-2">
                                                <label class="form-label fs-14px">Transaction ID</label>
                                                <input type="text" class="form-control form-control-sm" name="tx_ref" pattern="^[a-zA-Z0-9_\-\.]+$" required>
                                            </div>

                                            <div class="mb-2">
                                                <label class="form-label fs-14px">Payment Screenshoot</label>
                                                <input type="file" name="screenshot" class="form-control form-control-sm" accept="jpg,jpeg,gif,png,webp">
                                            </div>

                                            <hr>

                                            <input type="hidden" name="method" value="{{ gateway['method'] }}">
                                            <input type="hidden" name="detail_snapshot" value="{{ gateway['id'] }}">

                                            <div class="text-end">
                                                <button class="btn btn-primary btn-sm">
                                                    <i class="bi bi-box-arrow-in-right me-1"></i> Deposit
                                                </button>
                                            </div>

                                        </form>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                {% endfor %}

            </div>

        {% else %}

            <div class="p-5 text-center bg-body-tertiary rounded-3">
                <h1 class="text-body-emphasis">Oh No!</h1>
                <p class="col-lg-8 mx-auto fs-5 text-muted">
                    No payment gateway is available at the moment. <br/> Please check back later
                </p>
            </div>

        {% endif %}

    </div>

{% endblock %}