{% extends '@Shares/base.html.twig' %}

{% set userBalance = user.getUserMeta('user.balance') %}
{% set unit = constant('SHARES_CURRENCY') %}

{% block shares_component %}

    <h5>Shares Packages</h5>

    <hr>

    <div class="package-list">

        <div class="border text-bg-warning mb-2 p-2 px-3 rounded-2">
            Wallet Balance: {{ unit ~ userBalance }}
        </div>

        {% if error is empty %}
            <div class="alert alert-info">
                Please select an investment package
            </div>
        {% else %}
            <div class="alert alert-danger animate__animated animate__flash">
                <i class="bi bi-exclamation-triangle me-1"></i> {{ error }}
            </div>
        {% endif %}

        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 text-center">

            {% for shares in shares_list %}

                <div class="col mb-3">

                    <form method="POST" data-ui-confirm="Sure">
                        <div class="card mb-4 rounded-3 shadow-sm border-primary">

                            <div class="card-header py-3 text-bg-primary border-primary">
                                <h4 class="my-0 fw-normal">{{ shares['title'] }}</h4>
                            </div>

                            <div class="card-body">

                                <h3 class="card-title pricing-card-title">
                                    {{ shares['daily_increment'] }}<small class="text-body-secondary fw-light">% daily</small>
                                </h3>

                                <ul class="list-unstyled mt-2 mb-2">
                                    <li class='text-danger'>{{ shares['end_after_day'] is same as '0' ? 'Unlimited' : shares['end_after_day'] ~ ' days interval' }}</li>
                                    <li>Bonus: {{ unit ~ shares['credit_bonus']|number_format(2) }}</li>
                                    <li>Min: {{ unit ~ shares['min_amount']|number_format(2) }}</li>
                                </ul>

                                <div class="mb-2 input-group">
                                    <span class="input-group-text">{{ unit }}</span>
                                    <input type="number" step="0.01" class="form-control" placeholder="Enter amount" name="shares_amount" required>
                                </div>

                                <button type="submit" class="w-100 btn btn-success">
                                    <i class="bi bi-coin me-1"></i> Buy Now
                                </button>

                                <input type='hidden' name='shares_uuid' value='{{ shares['uuid'] }}'>
                            </div>

                        </div>
                    </form>

                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}