{% extends _theme ~ '/pages/user/profile/layout.html.twig' %}

{% block profile_content %}

    <div class="accordion" id="accordionExample">
        <div class='row'>

            {% for key, gateway in gateways %}

                {% set wallet = user.getUserMeta("wallet." ~ gateway.id) %}

                <div class='col-md-12 mb-2'>
                    <div class="accordion-item">

                        <h2 class="accordion-header" id="heading-{{ key }}">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ key }}" aria-expanded="true" aria-controls="collapse-{{ key }}">
                                {% if gateway.icon is not empty %}
                                    <div class="image-central me-2 rounded-circle bg-secondary" style="--image-central-width: 25px;">
                                        <img src="{{ gateway.icon }}" width="30px" class="me-1">
                                    </div>
                                {% endif %}
                                {{ gateway.method }}
                            </button>
                        </h2>

                        <div id="collapse-{{ key }}" class="accordion-collapse collapse {{ key is same as 0 ? 'show' : null }}" aria-labelledby="heading-{{ key }}" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <form method='POST'>
                                    <div class='small mb-2 border border-info rounded-2 p-2 px-3'>
                                        <i class="bi bi-info-circle me-1"></i> Please fill the detail below to receive withdrawal in {{ gateway.method }}
                                    </div>
                                    <div class="mb-3">
                                        {% for label, index in gateway.detail %}
                                            {% set required = index is not same as '0' %}
                                            <div class='mb-2'>
                                                <label class='form-label small {{ required ? '--required' : null }}'>{{ label }}:</label>
                                                <input type='hidden' name='data[key][]' value='{{ label }}'>
                                                <input class="form-control form-control-sm" name="data[value][]" {{ required ? 'required' : null }} value="{{ wallet ? wallet.detail[label] : null }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class=''>
                                        <input type="hidden" name="entity" value="{{ gateway.id }}">
                                        <button class="btn btn-primary w-100" type="submit">
                                            <i class="bi bi-save me-1"></i> Save Info
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                
            {% endfor %}
        
        </div>
    </div>
{% endblock %}

